ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04B45F;
    position: fixed;
    top: 0;
    width: 100%;
}
.active{
    background-color:  #01DF74;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #01DF74;
}
nav{
    font-size: 24px;
}
html{
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    background-color: #F2F2F2;
}

.d1{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 1%;
    width: 50%;
}
.d2{
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 1%;
    width: 50%;
}
.d3{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 1%;
}
.d4{
     padding-top: 0%;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 1%;
}
.d5{
     padding-top: 0%;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 1%;
}
.d6{
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 1%;

}
.d7{
     padding-top: 0%;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 1%;
}
.button{
    background-color: #04B45F;
    margin: 1% 5%;

}
input[type=submit]{
    width: 7%;
    height: 10%;
    border-color: #04B45F;

}
input[type=submit]:hover{
    border-color: #01DF74;
}
.button:hover{
    background-color: #01DF74;
}
input[type=text]{
    width: 10%;
    height: 3%;
}

button{
    background-color: #04B45F;
    margin: 1% 5%;
    width: 8%;
    height: 10%;
    border-color: #04B45F;
}
button:hover{
    background-color: #01DF74;
    border-color: #01DF74;
}
footer{
    background-color: #04B45F;
    width: 100%;
    color: white;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 4%;
    padding-right: 0%;
    font-size: 20px;
}
.middle{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
    text-align: left;
}
#d1{
    width: 70%;
    float: left;
}
#b1{
    margin-left: 70%;
    width: 30%;
}
.wall{
    width: 900px;
    margin-left: 20%;


}
.lm{
    margin-left: 40%;
}
#d2{
    width: 70%;
    float: left;
}
#b2{
    margin-left: 70%;
    width: 30%;

}


#d5{
    width: 50%;
    float: left;
}
#b5{
    margin-left: 50%;
    width: 50%;
}
#d6{
    width: 50%;
    float: left;
}
#b6{
    margin-left: 50%;
    width: 50%;
}


}
#d8{
    width: 70%;
    float: left;
}
#b8{
    margin-left: 70%;
    width: 30%;
}
#d9{
    width: 50%;
    float: left;
}
#b9{
    margin-left: 50%;
    width: 50%;
}
#d10{
    width: 50%;
    float: left;
}
#b10{
    margin-left: 50%;
    width: 50%;
}
#d11{
    width: 50%;
    float: left;
}
#b11{
    margin-left: 50%;
    width: 50%;
}